<h1>I don't wanna go there</h1>
<p>
<table>
<tr><th>date</th><th>count</th></tr>
<% @log.each do |element| %>
<tr><td><%= element.date %></td><td><%= element.count %></td></tr>
<% end %>
<%= line_chart @chart_data %>
</table>
</p>
<hr>
<h2>Recent Annoy People</h2>
<p>
<a class="twitter-timeline" href="https://twitter.com/search?q=%28%E5%AD%A6%E6%A0%A1+OR+%E4%BC%9A%E7%A4%BE+OR+%E4%BB%95%E4%BA%8B%29+AND+%28%E3%81%84%E3%81%8D%E3%81%9F%E3%81%8F+OR+%E8%A1%8C%E3%81%8D%E3%81%9F%E3%81%8F%29" data-widget-id="516614847912353792">search results</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
