<h1>I don't wanna go there</h1>
<p>
<table>
<tr><th>date</th><th>count</th></tr>
<% @log.each do |element| %>
<tr><td><%= element.date %></td><td><%= element.count %></td></tr>
<% end %>
<%= line_chart @chart_data %>
</table>
</p>
